[submodule "protocol-repos/wayland"]
	path = protocol-repos/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "protocol-repos/wayland-protocols"]
	path = protocol-repos/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "protocol-repos/wlr-protocols"]
	path = protocol-repos/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "protocol-repos/hyprland-protocols"]
	path = protocol-repos/hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols.git
[submodule "protocol-repos/treeland-protocols"]
	path = protocol-repos/treeland-protocols
	url = https://github.com/linuxdeepin/treeland-protocols.git
[submodule "protocol-repos/jay-protocols"]
	path = protocol-repos/jay-protocols
	url = https://github.com/mahkoh/jay-protocols.git
