name: workflows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check
        run: |
          rustup toolchain install nightly --allow-downgrade -c rustfmt
          cargo +nightly fmt -- --check
  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          rustup override set 1.89.0
          cd wl-proxy
          cargo update
          cargo check --all-features --verbose
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Clippy
        run: |
          cargo clippy --all-features --verbose -- -Dwarnings
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          cargo build
  build-all-features:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          cargo build --all-features
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          cargo test --verbose --all-features
  generator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generator
        run: |
          cargo run -p generator
          git diff --exit-code
